<h1>Secret Secret!  I got a secret!</h1>

<p>Enter in a secret message to be translated.</p>

<form action='/results' method='get'>
  <div class="form-group">
    <label for="inputMessage">Enter a message:</label>
    <input id="inputMessage" name="inputMessage" class="form-control" type="text">
  </div>

  <button type="submit" class="btn btn-info">Go!</button>
</form>
